.heading {
  background-color: #333;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0px;
}

.heading__item {
  display: block;
  color: #fff;
  padding: 10px 10px;
  text-decoration: none;
}

.heading__item:hover {
  background-color: #111;
}

.active {
  background-color: #b1b801;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.column {
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
}

.card {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 3.3);
  overflow: hidden;
  text-align: center;
  border-radius: 2px;
}

.card img {
  height: 200px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card .title {
  color: #999;
  font-size: 16px;
  margin: 10px 0;
}

.card p {
  margin-bottom: -10px;
}

.card button {
  width: 100%;
  background-color: black;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0;
  padding: 12px 0px;
}

.card button:hover {
  background-color: #929702;
  text-decoration: underline;
}

.footer {
  background-color: #b1b801;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 2px;
  text-align: center;
  margin-top: 30px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup img{ width: 100%;}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.popup .close:hover {color: #fafa2d}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

#openPopUp {
  color: #fff;
  text-decoration: none;
}